.cardSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    position: relative;
}

.cardSection::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
/* 
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
} */

.container{
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;
}

.heading{
    font-weight: 700;
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.paragraph{
    font-weight: 500;
    color: white;
    font-size: 0.8rem;
}


@media screen and (max-width:400px){
    .cardSection{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .cardSection{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: 600px;
    }
}

